# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.serverless

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.webpack/

# misc
.DS_Store
*.pem
.dynamodb/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development
.env.test
.env.production

# vercel
.vercel

*.db
*.db-journal


# testing
playwright/test-results
